{% extends 'admin-base.html.twig' %}

{% block content %}
    {% include 'admin-map-base.html.twig' %}
    <div class="admin-content">

    <h1>New solar system</h1>

    {{ form_start(form) }}
    {{ form_end(form) }}
    </div>

{% endblock %}