.earth{
  background-color: #99522e;
}

.grass{
  background-color: #35993c;
}

.sand{
  background-color: #cbcd83;
}

.lake{
  background-color: #259999;
}

.rock{
  background-color: #707b78;
}

.rock{
  background-color: #707b78;
}

.snow{
  background-color: #dedcdd;
}

.ice{
  background-color: #86d4de;
}